.contact-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.contact-pg {
    margin-top: 8px;
    font-size: 1.125rem;
    color: var(--text-secondary);
}

.contact-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-email-container {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
}
.contact-email {
    color: var(--text-secondary);
}
.email {
    text-decoration: underline;
    transition: 0.3s;
}
.email:hover {
    opacity: 0.7;
}

.contact-links {
    display: flex;
    gap: 40px;
}
.contact-links a {
    position: relative;
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 4px;
}
.contact-links a::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: var(--accent-dark);
    transition: 0.3s;
}

.contact-links a svg {
    transform: rotate(45deg);
    transition: 0.3s;
}
.contact-links a:hover svg {
    transform: rotate(50deg) translateY(-2px);
}

.contact-right {
    width: 50%;
}

.contact-right form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}
.contact-right form label {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
    font-size: 1rem;
}
.form-inner {
    display: flex;
    gap: 8px;
    width: 100%;
}

.form-input {
    padding: 16px;
    width: 100%;
    border: none;
    outline: var(--border-bright) solid 2px;
    border-radius: 6px;
    color: var(--text-primary);
    background: var(--gradient-dark);
    transition: outline-color 0.3s, box-shadow 0.3s;
}
.form-input:focus {
    outline-color: var(--accent-dark);
    box-shadow: 0 0 20px 1px rgba(110, 231, 249, 0.2);
}
.textarea {
    min-height: 120px;
    resize: vertical;
}

.submit-button {
    border: none;
    font-size: 1rem;
    background: linear-gradient(135deg, rgb(0, 0, 181), var(--accent-dark));
    padding: 12px;
    width: 180px;
    color: var(--text-primary);
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.reset-button {
    font-size: 1rem;
    padding: 12px;
    width: 180px;
    border-radius: 8px;
    cursor: pointer;
    background: var(--bg-tertiary);
    background: var(--gradient-dark);
    color: var(--text-secondary);
    border: 1px solid var(--border);
    margin-left: 8px;
    transition: 0.3s;
}

.reset-button:hover {
    color: var(--text-primary);
}

.contact-footer {
    border-top: 1px solid var(--border-bright);
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    color: var(--text-primary);
    width: clamp(600px, 85vw, 1200px);
    margin-inline: auto;
    font-size: 0.8rem;
}

.back-to-top {
    display: flex;
    align-items: center;
    color: var(--text-secondary);
    cursor: pointer;
    transition: 0.3s;
}
.back-to-top:hover {
    transform: translateY(-2px);
}

@media (max-width: 768px) {
    .inner-contact {
        display: flex;
        flex-direction: column;
    }

    .contact-left {
        display: contents;
    }

    .contact-header {
        order: 1;
    }

    .contact-info {
        order: 3;
    }

    .contact-right {
        order: 2;
        width: 100%;
    }

    .inner-form {
        display: flex;
    }

    .contact-footer {
        width: 100%;
    }
}   